<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csk1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hist1"></activity>
        <activity android:name=".rashid" />
        <activity android:name=".wrid" />
        <activity android:name=".jonny" />
        <activity android:name=".vijay" />
        <activity android:name=".jason1" />
        <activity android:name=".priyam" />
        <activity android:name=".manish" />
        <activity android:name=".kedar" />
        <activity android:name=".kane" />
        <activity android:name=".jason" />
        <activity android:name=".david2" />
        <activity android:name=".sunrisers" />
        <activity android:name=".must" />
        <activity android:name=".jaydev" />
        <activity android:name=".sanju" />
        <activity android:name=".joss" />
        <activity android:name=".shreyash" />
        <activity android:name=".shivam" />
        <activity android:name=".rahul2" />
        <activity android:name=".chrism" />
        <activity android:name=".riyan" />
        <activity android:name=".manan" />
        <activity android:name=".david1" />
        <activity android:name=".rajasthan" />
        <activity android:name=".trent" />
        <activity android:name=".rahul1" />
        <activity android:name=".jasprit" />
        <activity android:name=".quint" />
        <activity android:name=".ishan" />
        <activity android:name=".krunal" />
        <activity android:name=".kieron" />
        <activity android:name=".hardik" />
        <activity android:name=".surya" />
        <activity android:name=".rohit" />
        <activity android:name=".chrisl" />
        <activity android:name=".mumbai" />
        <activity android:name=".moises" />
        <activity android:name=".shamim" />
        <activity android:name=".chrisj" />
        <activity android:name=".kl" />
        <activity android:name=".fabian" />
        <activity android:name=".deepak" />
        <activity android:name=".sarfaraz" />
        <activity android:name=".mayank" />
        <activity android:name=".mandeep" />
        <activity android:name=".david" />
        <activity android:name=".chrisg" />
        <activity android:name=".punjab" />
        <activity android:name=".anrich" />
        <activity android:name=".amit" />
        <activity android:name=".samb" />
        <activity android:name=".rishabh" />
        <activity android:name=".marcus" />
        <activity android:name=".chrisw" />
        <activity android:name=".axar" />
        <activity android:name=".simron" />
        <activity android:name=".shikar" />
        <activity android:name=".prithvi" />
        <activity android:name=".ajinkya" />
        <activity android:name=".delhi" />
        <activity android:name=".pawan" />
        <activity android:name=".pat" />
        <activity android:name=".kuldeep" />
        <activity android:name=".dinesh" />
        <activity android:name=".sunil" />
        <activity android:name=".ben" />
        <activity android:name=".andre" />
        <activity android:name=".subh" />
        <activity android:name=".rahul" />
        <activity android:name=".nitish" />
        <activity android:name=".eoin" />
        <activity android:name=".kkr2" />
        <activity android:name=".yuzi" />
        <activity android:name=".navdeep" />
        <activity android:name=".sir" />
        <activity android:name=".patel" />
        <activity android:name=".dev" />
        <activity android:name=".sun" />
        <activity android:name=".max" />
        <activity android:name=".sams2" />
        <activity android:name=".chris" />
        <activity android:name=".virat" />
        <activity android:name=".padikal" />
        <activity android:name=".rcb2" />
        <activity android:name=".csk3" />
        <activity android:name=".chennai" />
        <activity android:name=".it" />
        <activity android:name=".st" />
        <activity android:name=".dc" />
        <activity android:name=".sc" />
        <activity android:name=".rj" />
        <activity android:name=".ma3" />
        <activity android:name=".db1" />
        <activity android:name=".sur" />
        <activity android:name=".rut" />
        <activity android:name=".fafu" />
        <activity android:name=".msd" />
        <activity android:name=".ambati" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>